@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Raleway:wght@400;600;700;800&display=swap");

:root {
  --raleway: "Raleway", sans-serif;
  --inter: "Inter", sans-serif;

  --primary-color: #4d5dfb;
  --secondary-color: #4e47ff10;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--raleway);
  background-color: #f5f8ff;
}

/* Banner Section */

#banner {
  background-image: url("../static-assets/hero-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  padding: 4rem 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-family: var(--inter);
  font-weight: 800;
  font-size: 4rem;
  color: var(--primary-color);
}

.button {
  padding: 1rem 2.5rem;
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--raleway);
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 0.7rem;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.small-button {
  font-weight: 400;
  font-size: 1.6rem;
}

#banner-content {
  padding: 12rem 4rem;
  text-align: center;
}

#banner-content > h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

/* Action Section */
#action {
  padding: 6rem 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#action-content > h3 {
  font-size: 3rem;
  font-weight: 700;
}

#action-content > p {
  margin: 2rem 0;
  font-size: 1.8rem;
  font-weight: 400;
  color: grey;
}

#action-image {
  margin-right: 4rem;
  border-radius: 2rem;
}

/* User Section */
#user {
  margin: 6rem 12%;
  background-color: var(--secondary-color);
  padding: 4rem 8rem;
  border-radius: 1rem;
}

#user > h3 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

#user-stats {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#user-stats > li {
  text-align: center;
}

.stat-data {
  font-size: 5rem;
  font-family: var(--inter);
  color: var(--primary-color);
}

.stat-type {
  font-size: 1.4rem;
  color: grey;
}

/* Review Section */
#review {
  margin: 8rem 12%;
}

#review > h3 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

#review-card-container {
  margin-top: 2.6rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.review-card {
  background-color: white;
  padding: 1.6rem 1.4rem;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  max-width: 36ch;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 1.2rem;
}

.stars {
  display: flex;
  gap: 0.28rem;
}

.stars > img {
  width: 2.8ch;
}

.review-content > h4 {
  font-size: 2.2rem;
  font-weight: 700;
}

.review-content > p {
  margin-top: 0.6rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.reviewer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.reviewer > img {
  width: 6ch;
  border-radius: 50%;
}

.reviewer-name {
  font-size: 1.4rem;
  font-weight: 700;
}

.review-date {
  font-size: 1.2rem;
  font-weight: 400;
  color: grey;
}

/* Get Started Section */
#get-started {
  margin: 2rem 12%;
  padding: 6rem 8rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#get-started > h2 {
  font-size: 4rem;
  font-weight: 700;
}

#get-started > p {
  font-size: 1.2rem;
  font-weight: 400;
  color: grey;
}

#get-started > img {
  border-radius: 2rem;
}

/* Newsletter Section */
#newsletter {
  margin: 6rem 12%;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#newsletter > h1 {
  font-size: 6rem;
}

#newsletter > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.input-item > label {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.input-item > input,
textarea {
  background-color: white;
  width: 30rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  border: 1px solid white;
  border-radius: 0.8rem;
}

/* Footer Section */
#footer {
  padding: 6rem 12%;
  background-color: white;
  text-align: center;
}

#footer > h1 {
  font-family: var(--inter);
  font-size: 6rem;
  font-weight: 800;
  color: var(--primary-color);
}

#footer > p {
  font-size: 1.2rem;
  font-weight: 400;
  color: grey;
  margin: 1.4rem 0;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: grey;
  transition: all ease-in-out 0.3s;
}

.nav-link:hover {
  color: black;
}
